h1, p{
	margin:		0;
	padding:	1em;
	white-space: nowrap;
}

.container {/*全体*/
	width:		1500px;
	height:		2000px;
	font-size: 0;
}


.imagepart1 {/*TIMBER WOOD*/
	width:		20%;
	height:		33.3%;
	float:		left;
	background:	#dddddd;
}



.imagepart2 img {/*日本のいちばん暮らしやすい木の家へ*/
  width: 80%;
  height: 33.3%;
  object-fit: cover;
}

.right-bottom {
	object-position:0% 100%;
}

p1{/*日本でいちばん暮らしやすい木の家へ。の字関係*/
      position: absolute;
      top:450;
      left:400;
      font-size:40px;
      color: white;
      padding:0;
      margin:0;
      font-family:游ゴシック;
}

p2{/*ご相談・お問い合せはお問い合せフォームから の字関係*/
      position: absolute;
      width:300;
      height:40;
      top:1280;
      left:70;
      text-align: center;
      font-size:13px;
      color: brown;
      padding:0;
      margin:500;
      font-family:游ゴシック;
}

p3{/*COPYRIGHT© TIMBERWOOD ALLRIGHTS RESERVED. の字関係*/
      position: absolute;
      width:1150;
      height:20;
      top:1500;
      left:-550;
      text-align: center;
      font-size:13px;
      color: white;
      padding:200;
      margin:500;
      background-color:#3b2716;
      font-family:游ゴシック;
}

.gyo{/*行間調整*/
	line-height: 50%;
}

.imagepart3{/*耳で建てる家。*/
 	position:relative;
 	width:1500px;
 	height:60px;
 	padding-bottom:15%;
 	overflow:hidden;
}

.imagepart3 img{/*耳で建てる家。の写真*/
	position:absolute;
	top:0%;
	left:48%;
	transform:translate(-49%,-5%);
	width:auto;
	height:auto;
	max-width:102%;
	max-height:initial;
}

.imagepart4, .imagepart5{/*「世代をまたぐ年輪。」と「薫る空間での一息。」*/
	float:left;
 	position:relative;
 	width:500px;
 	height:30px;
 	padding-bottom:14%;
 	overflow:hidden;
}

.imagepart4 img, .imagepart5 img{/*「世代をまたぐ年輪。」と「薫る空間での一息。」の写真*/
	position:absolute;
	top:0%;
	left:45%;
	transform:translate(-49%,-5%);
	width:auto;
	height:auto;
	max-width:110%;
	max-height:initial;
}

.imagepart6 {/*「唯一」を探す。*/
	float:right;
 	position:relative;
 	width:500;
 	height:30px;
 	padding-bottom:14%;
 	overflow:hidden;
}

.imagepart6 img{/*「唯一」を探す。の写真*/
	position:absolute;
	top:0%;
	left:19%;
	transform:translate(-18%,-5%);
	width:500px;
	height:auto;
	max-width:99%;
	max-height:initial;
}

.imagepart7 {/*ご相談・お問い合せはお問い合せフォームから*/
	width:	1200px;
	height:	900px;
	
}

.imagepart8 {/*お問い合わせ*/
	width:	1200px;
	height:	300px;	
}

.btn1{/*お問い合わせボタン1*/
    width:298px;
    height:60px;
    line-height:60px;
}
.btn1 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#f5f5f5;
    text-align:center;
    color:#3b2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
    border-right : dotted 2px #333 ;
}
.btn1 a:hover{
    background:#3b2716;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn2{/*コンセプトボタン*/
    width:298px;
    height:60px;
    line-height:60px;
    transform:translate(300px,-60px);
}
.btn2 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#f5f5f5;
    text-align:center;
    color:#3b2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
    border-right : dotted 2px #333 ;
}
.btn2 a:hover{
    background:#3b2716;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn3{/*材質のこだわりボタン*/
    width:298px;
    height:60px;
    line-height:60px;
    transform:translate(600px,-120px);
}
.btn3 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#f5f5f5;
    text-align:center;
    color:#3b2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
    border-right : dotted 2px #333 ;
}
.btn3 a:hover{
    background:#3b2716;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn4{/*過ごし方ボタン*/
    width:298px;
    height:60px;
    line-height:60px;
    transform:translate(900px,-180px);
}
.btn4 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#f5f5f5;
    text-align:center;
    color:#3b2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
    border-right : dotted 2px #333 ;
    border-height:50%;
}
.btn4 a:hover{
    background:#3b2716;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn5{/*製品紹介ボタン*/
    width:298px;
    height:60px;
    line-height:60px;
    transform:translate(1200px,-240px);
    
}
.btn5 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#f5f5f5;
    text-align:center;
    color:#3b2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
}
.btn5 a:hover{
    background:#3b2716;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}



.btn6{/*サイトマップボタン*/
    width:110px;
    height:50px;
    line-height:60px;
    transform:translate(1140px,-220px);
    
}
.btn6 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    text-align:center;
    color:#000000;
    font-size:12px;
    font-weight:bold;
    font-family:游ゴシック;
}

.under1 {/*サイトマップの下線*/
  border-bottom: solid 1px #000000;
}

.btn7{/*プライバシーポリシーのボタン*/
    width:120px;
    height:50px;
    line-height:60px;
    transform:translate(1300px,-277px);
    
}
.btn7 a{
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    text-align:center;
    color:#000000;
    font-size:12px;
    font-weight:bold;
    font-family:游ゴシック;
}

.under2 {/*プライバシーポリシーの下線*/
  border-bottom: solid 1px #000000;
}


.btn8{/*お問い合わせボタン2*/
    width:260px;
    height:60px;
    line-height:60px;
    transform:translate(580px,-440px);
}
.btn8 a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#FFFFFF;
    text-align:center;
    border:1px solid #3B2716;
    color:#3B2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
}
.btn8 a:hover{
    background:#3B2716;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    border:1px solid #FFFFFF;
    box-shadow:none;
}

.btn9{/*耳で建てる家ボタン*/
    width:270px;
    height:100px;
    line-height:70px;
    transform:translate(1200px,-820px);
}
.btn9 a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:rgba(255,255,255,0.5);
    text-align:center;
    color:#3B2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
}
.btn9 a:hover{
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn10{/*世代をまたぐ年輪。ボタン*/
    width:270px;
    height:100px;
    line-height:70px;
    transform:translate(100px,-650px);
}
.btn10 a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:rgba(255,255,255,0.5);
    text-align:center;
    color:#3B2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
}
.btn10 a:hover{
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn11{/*薫る空間での一息。ボタン*/
    width:270px;
    height:100px;
    line-height:70px;
    transform:translate(630px,-750px);
}
.btn11 a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:rgba(255,255,255,0.5);
    text-align:center;
    color:#3B2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
}
.btn11 a:hover{
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    box-shadow:none;
}

.btn12{/*「唯一」を探す。ボタン*/
    width:270px;
    height:100px;
    line-height:70px;
    transform:translate(1120px,-850px);
}
.btn12 a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:rgba(255,255,255,0.5);
    text-align:center;
    color:#3B2716;
    font-size:15px;
    font-weight:bold;
    font-family:游ゴシック;
}
.btn12 a:hover{
    color:#FFFFFF;
    margin-left:0px;
    margin-top:	0px;
    box-shadow:	none;
}
HTML{
    scroll-behavior:	smooth;
}

.btn13{/*トップに戻るボタン*/

    width:	60px;
    height:	15px;
    transform:	translate(1400px,-500px);
}



@media screen and (max-width: 600px) {/*画面サイズが600px以下の場合*/

.container {
	width:	100%;
}


.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
	width:	auto;
	float;	none;
	display:	none;
}

.imagepart1{
	width:	auto;
	height:	30px;
	float:	none;
	background:	#FFFFFF;
}

.imagepart2{
	width:	130%;
	height:	30%;

}

.imagepart2 img{
	width:	130%;
	height:	30%;

}

.imagepart3{
	width:	100.5%;
	height:	200px;

}

.imagepart3 img{
	width:	100.5%;
	height:	200px;

}

.imagepart4,.imagepart5{
	width:	102%;
	height:	200px;
	float:	none;
}

.imagepart4 img,.imagepart5 img{
	height:	200px;
	width:	102%;
}

.imagepart6{
	width:	102%;
	height:	200px;
	float:	none;
}

.imagepart6 img{
	width:	102%;
	height:	200px;
}

p1{
	top:	55px;
	left:	200px;
	font-size:	30px;

}

p2{
	top:	1280px;
	left:	-380px;
	font-size:	20px;
}

p3{
	height:	20px;
	width:	37%;
	font-size:	10px;
}

.btn8{
	position:relative;
	bottom:	350px;
	right:	450px;
}

.btn9{
	position:relative;
	bottom:	500px;
	right:	1000px;
}


.btn10{
	position:relative;
	bottom:	490px;
	right:	-100px;
}
	

.btn11{
	position:relative;
	bottom:	220px;
	right:	430px;
}


.btn12{
	position:relative;
	bottom:	-80px;
	right:	920px;
}

.btn13{
	position:relative;
	bottom:	200px;

}

}